*{padding: 0 ; margin: 0 ;}

body {
	min-height: 564px;
	min-width: 1100px;
    text-align: center;
    height: 100%;
    font-size: 100%;
    position:absolute;
    top: 0%;
    bottom: 0%; 
    right: 0%; 
    left: 0%;
}

#header {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 6%;
	font-size: 4vh;
	padding-top: 1.3vmin;
}

.button, .buttonDisable {
	position: relative;
	padding: 0.5em 1em;
  	border-radius: 0.2em; 
  	overflow: visible;
  	outline: none;
	white-space: nowrap;
  	-moz-background-clip: padding; 
    background-clip: padding-box;
	border: 1px solid #d4d4d4;
    margin: 0;
    text-align: center;
	zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
  }

.button {
    cursor: pointer;
}

#header, .button {
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-color: #3072b3;
    border-bottom-color: #2a65a0;
	color: #fff;
	background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonDisable {
   	text-shadow: 1px 1px 0 #fff;
   	color: #999999;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.buttonDisable, .button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.vlabsIcon {
    position: absolute;
    top: 1.2%;
    left: 8%;
    width: 15vh;
    height: 6.7vh;
    background-image: url('../images/iiitLogo.png');
    background-repeat: no-repeat;
    background-color: transparent;
}

.inputDivision, .outputDivision, .executionDivision {
    top: 11%;
    height: 87%; 
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #464646;
}

.inputDivision {
    left: 2%;
    width: 15%;
}

.executionDivision {
    left: 19%;
    width: 30%;
}

.outputDivision {
    left: 51%;
    width: 47%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    text-align: center;
    top: 0%;
    height: 9%;
    text-align: center;
    font-size: 3vmin;
    width: 100%;
    background-color: #F8F8F8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.initializePic, .executionPic, .outputPic {
	margin-left: 10%;
	float: left;
	height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.initializePic {
	margin-top: 1.5vh;
	width: 20%;
	background-image: url('../images/initIcon.png');
}

.initializeText {
	width: 60%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.executionPic {
	margin-top: 1vh;
	width: 25%;
	background-image: url('../images/pageIcon.png');
}

.executionText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.outputPic {
	margin-top: 1.6vh;
	width: 25%;
	background-image: url('../images/outputIcon.png');
}

.outputText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.inputDivisionBody {
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	height: 91%;
	text-align: center;
	font-size: 1em;
	border-top: 1px solid #CCC;
}

.textField {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    float: left;
    margin-left: 10%;
    height: 26px;
    width: 80%;
    min-width: 100px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.instructionText {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    font-size: 16px;
}

.okButton {
	font-size: 13px;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
    height: 30px;
    width: 81%;
}

.startButton {
    height: 30px;
    width: 37%;
    float: center;
    font-size: 14px;
}

.nextButton {
    margin-left: 14px; 
    height: 30px;
    width: 37%;
    float: center;
    font-size: 14px;
}

.buttonHolder {
    width: 100%;
    height: 6%;
    float: left;
    margin-top: 15px;
}

.resultDisplay {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 90%;
    border-top: 1px solid #CCC;
}

.pillarFirst, .pillarSecond, .pillarThird {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 85%;
    width: 33.33%;
}

.pillarFirst {
    left: 0%;
}

.pillarSecond {
    left: 33.33%;
}

.pillarThird {
    left: 66.66%;
}

.pillarBase {
    position: absolute;
    width: 100%;
    height: 5%;
    top:80%;
    left: 0%;
    background-color: #3072b3;
}

.pillarLog {
    position: absolute;
    width: 8%;
    height: 50%;
    top:30%;
    left: 46%;
    background-color: #3072b3;
}

.disk1, .disk2, .disk3, .disk4, .disk5 {
    position: absolute;
    height: 5%;
    border-radius: 7px;
    left: 10%;
    width: 80%;
}

.position1{
    top: 75%;
}

.position2{
    top: 70%;
}

.position3{
    top: 65%;
}

.position4{
    top: 60%;
}

.position5{
    top: 55%;
}

.disk1 {
    left: 10%;
    width: 80%;
    background-color: #315331;
}

.disk2 {
    left: 15%;
    width: 70%;
    background-color: #7F6C8A;
}

.disk3 {
    left: 20%;
    width: 60%;
    background-color: #AC7E64;
}

.disk4 {
    left: 25%;
    width: 50%;
    background-color: #AFB170;
}

.disk5 {
    left: 30%;
    width: 40%;
    background-color: #ADA692;
}

.stepExecutionDisplay {
    padding-left: 2%;
    overflow-x: auto;
    font-size: 3vmin;
    position: absolute;
    top: 9%;
    left: 0%;
    width: 97.8%;
    height: 90%;
    text-align: center;
    border-top: 1px solid #CCC;
}

.hide {
	display: none;
}

.showDivInRed {
    display: block;
    color: red;
}

.show {
	display: block;
}

.codeLayout {
    font-size: .9em;
    text-align: left;
}

.local {
	position: absolute;
	top: 80%;
	left: 10%;
	font-size: 120%;
	font-weight: bold;
}

.a {
	float: right;
}
#allowEnter{
    margin-top: 200px;
    padding: 20px;
    display: none;
}