*{padding: 0 ; margin: 0 ;}

body {
	min-height: 564px;
	min-width: 1100px;
    text-align: center;
    height: 100%;
    font-size: 100%;
    position:absolute; top: 0%; bottom: 0%; right: 0%; left: 0%;
}

#header {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	width: 100%;
	height: 6%;
	font-size: 4vh;
	padding-top: 1.3vmin;
}

.button, .buttonDisable{
	position: relative;
	padding: 0.5em 1em;
  	border-radius: 0.2em; 
  	overflow: visible;
  	outline: none;
	white-space: nowrap;
  	-moz-background-clip: padding; 
    background-clip: padding-box;
	border: 1px solid #d4d4d4;
    margin: 0;
    text-align: center;
	zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
}

.button{
    cursor: pointer;
}

#header, .button {
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-color: #3072b3;
    border-bottom-color: #2a65a0;
	color: #fff;
	background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonDisable {
   	text-shadow: 1px 1px 0 #fff;
   	color: #999999;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.buttonDisable, .button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.vlabsIcon {
    position: absolute;
    top: 1.2%;
    left: 8%;
    width: 15vh;
    height: 6.7vh;
    background-image: url('iiitLogo.png');
    background-repeat: no-repeat;
    background-color: transparent;
}

.inputDivision, .outputDivision, .executionDivision {
    top: 11%;
    height: 87%; 
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #464646;
}

.executionDivision {
    left: 25%;
    width: 30%;
}

.inputDivision {
    left: 3%;
    width: 19%;
}

.outputDivision {
    left: 58%;
    width: 39%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    text-align: center;
    top: 0%;
    height: 9%;
    color: #2a65a0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F8F8F8;
}

.initializePic, .executionPic, .outputPic {
	margin-left: 10%;
	float: left;
	height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.initializePic {
	margin-top: 1.5vh;
	width: 20%;
	background-image: url('initIcon.png');
}

.initializeText {
	width: 60%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.executionPic {
	margin-top: 1vh;
	width: 25%;
	background-image: url('pageIcon.png');
}

.executionText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.outputPic {
	margin-top: 1.6vh;
	width: 25%;
	background-image: url('outputIcon.png');
}

.outputText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
	padding-top: 1.8vmin; 
}

.inputDivisionBody {
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	height: 91%;
	text-align: center;
	font-size: 1em;
	border-top: 1px solid #CCC;
}

.arraySizeInputBlock {
	width: 100%;
	height: 35%;
	float: left;
	min-width: 200px;
	min-height: 130px;
}

.arraySizeText {
    float: left;
    width: 100%;
    min-width: 70px;
    height: 25%;
    min-height: 30px;
    margin-top: 15px; 
}

.arraySizeInputField {
    text-align: center;
    font-size: 15px;
    float: left;
    margin-left: 10%;
    height: 30px;
    width: 80%;
    min-width: 150px;
    border: 1px solid #CCC;
    outline: none;
    border-radius: 3px;
}

.okButton {
	font-size: 13px;
	min-width: 150px;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
    height: 30px;
    width: 80%;
}

.startButton {
    height: 30px;
    width: 38%;
    float: center;
    font-size: 14px;
}

.nextButton {
    margin-left: 14px; 
    height: 30px;
    width: 38%;
    float: center;
    font-size: 14px;
}

.buttonHolder {
    width: 100%;
    height: 6%;
    float: left;
}

.radioButtonDivision {
	margin-top: 10px;
    float: left;
    height: 50%;
    min-height: 180px;
    width: 100%;
}

.randomRadioButtonDivision {	
    width: 100%;
    float: left;
    text-align: left;
}

.radiobutton {
	margin-left: 10%;
	float: left;
	text-align: left;
    cursor: pointer;
}

.radioText {
 	float: left;
	width: 80%;
	text-align: left;
}

.enterValueRadioButtonDivision {	
    width: 100%;
    float: left;
    font-size: 15px;
    text-align: left;
}

.arrayInputArea {
    float: left;
    height: 35%;
    width: 77%;
    margin-left: 10%;
    border: 1px solid #CCC;
    outline: none;
    overflow: auto;
    border-radius: 3px;
    padding: 3px;
    font-size: 14px;
}

.resultDisplay {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 90%;
    text-align: center;
    font-size: 1em;
    font-size: 3vmin;
    border-top: 1px solid #CCC;
}

.KeyPointerDisplayDivision {
    position: absolute;
    height: 4%;
    width: 96%;
    top: 3%;
    left: 2%;
    border-radius: 3px;
}

.sortedKeyLabel, .unsortedKeyLabel, .keyPositionLabel {
    position: absolute;
    width: 8%;
    height: 100%;
    top: 0%;
    border-radius: 10px;
}

.sortedKeyLabel {
    left: 0%;
    border-right: 1px solid #CCC;
    background: #41B247;
    background-size: auto;
}

.unsortedKeyLabel {
    left: 28%;
    background: #599bdc;
    background-size: auto;
}

.keyPositionLabel {
    left: 60%;
    background: #F5B941;
    background-size: auto;
}

.sortedKeyLabelText, .unsortedKeyLabelText, .keyPositionLabelText {
    position: absolute;
    height: 100%;
    top: 0%;
}

.sortedKeyLabelText {
    left: 10%;
    width: 14%;
} 

.unsortedKeyLabelText {
    left: 36%;
    width: 24%;
}

.keyPositionLabelText {
    left: 68%;
    width: 30%;	
}

.sortingDivision {
    position: absolute;
    height: 82%;
    width: 96%;
    top: 10%;
    left: 2%;
    border: 1px solid #CCC;
    overflow: auto;
    border-radius: 3px;
}

.codeLayout {
    text-align: left;
}

.sortedArray, .unSortedArray, .keyPosition {
    width: 80%;
    height: 80%;
    border: 1px solid #CCC;
    margin: 10%;
    float: left;
    background-size: auto;
}

.sortedArray {
    background: #41B247;
}

.unSortedArray {
    background: #558cff;
}

.keyPosition {
    background: #F5B941;
}

.currentKeyPositionIndicator {
    position: absolute;
    height: 5%;
    width: 96%;
    top: 94%;
    left: 2%;
}

.currentKeyValue {
    position: absolute;
    border: 1px solid #CCC;
    height: 100%;
    width: 8%;
    top: 0%;
    left: 5%;
    background: #F5B941;
}

.textKeyValue {
    position: absolute;
    height: 100%;
    width: 92%;
    top: 0%;
    left: 15%;
    text-align: left;
    margin-left: 1%;
}

.stepExecutionDisplay {
    padding-left: 2%;
    padding-top: 2%;
    overflow-x: auto;
    font-size: 3vmin;
    position: absolute;
    top: 9%;
    left: 0%;
    width: 97.8%;
    height: 88%;
    text-align: center;
    border-top: 1px solid #CCC;
}

.hide {
	display: none;
}

.show {
    display: block;
    background-size: auto;
}

.outerDiv {
    width: 10%;
    height: 7%;
    float: left;

}

.showDivInRed {
	display: block;
	color: red;
	text-align: left;
    background-size: auto;

}

@media only screen and (min-width: 1000px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.4em;
}

.initializeText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.randomRadioButtonDivision, .enterValueRadioButtonDivision {    
    height: 35px;
}

.radiobutton {
    width: 10%;
    height: 16px;
}

.arraySizeText {
    font-size: 1.2em;
}

.radioText {
    font-size: 16px;
    width: 70%;
    height: 60%;
}

.buttonHolder {
    margin-top: 15px;
}

.arrowImage {
    content: url('arrow.png');
}

}

@media only screen and (max-width: 999px) and ( min-width: 600px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.2em;
}

.stepExecutionDisplay {
    line-height: 140%;
    font-size: 1.2em;
}

.initializeText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.randomRadioButtonDivision, .enterValueRadioButtonDivision {    
    height: 45px;
}

.radiobutton {
    width: 20%;
    height: 20px;
}

.arraySizeText {
    font-size: 1.2em;
}

.radioText {
    font-size: 1em;
    width: 60%;
    height: 60%;
}

.arrayInputArea {
    margin-top: 10px;
}

.buttonHolder {
    width: 100%;
    height: 6%;
    float: left;
    margin-top: 20px;
}

.arrowImage {
    content: url('arrowSmall.png');
}

}