.desktop-nav .nav li a, .desktop-nav .nav>li>a {
padding: 12px 0px;
margin: 5px 10px;
}

.active-nav{
	border-bottom: solid 3px;
}

.divider{
  margin-top: -2%;
}


.mobile-nav .navbar-header{
	font-size: 0.6em;
}

.navbar a {
	color : #fff;
	padding: 0.5em;
}

.navbar-nav {
margin-top: 10px;
margin-left: 95px;
}

.mobile-nav  .navbar-nav{
margin-left: -15% !important;
margin-right: 1% !important;
}

.navbar-nav>li>a {
line-height: 5px;
}

.desk-nav .glyphicon{
	top :10px;
	right: 10px;
}

.mobile-nav .glyphicon-home{
	/*margin-right: 10%;*/
}

.icons{
	padding-right:0.5%;
	/*padding-top: 5%*/ 
}

.icons img{
	width: 65%;
	height: 65%;
}

.navbar-default {
height: 8rem;
padding-top: 1rem;
padding-left: 4rem;
font-size: 1.7rem;
font-family: 'Actor', sans-serif;
background: #3652a4;
border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
   font-size: 1.4em;
   font-family: 'Actor', sans-serif; 
   color: #fff; 
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a{ /*.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {*/
color: #fff;
background: #3652a4;
}

