*{padding: 0 ; margin: 0 ;}

body {
	min-height: 564px;
	min-width: 1100px;
    text-align: center;
    height: 100%;
    font-size: 100%;
    position:absolute; top: 0%; bottom: 0%; right: 0%; left: 0%;
}

#header {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	width: 100%;
	height: 6%;
	font-size: 4vh;
	padding-top: 1.3vmin;
}

.button, .buttonDisable {
	position: relative;
	padding: 0.5em 1em;
  	border-radius: 0.2em; 
  	overflow: visible;
  	outline: none;
	white-space: nowrap;
  	-moz-background-clip: padding; 
    background-clip: padding-box;
	border: 1px solid #d4d4d4;
    margin: 0;
    text-align: center;
	zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
}

.button{
    cursor: pointer;
}

#header, .button {
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-color: #3072b3;
    border-bottom-color: #2a65a0;
	color: #fff;
	background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonDisable {
   	text-shadow: 1px 1px 0 #fff;
   	color: #999999;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.buttonDisable::-moz-focus-inner, .button::-moz-focus-inner, .#header::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.vlabsIcon {
    position: absolute;
    top: 1.2%;
    left: 8%;
    width: 15vh;
    height: 6.7vh;
    background-image: url('iiitLogo.png');
    background-repeat: no-repeat;
    background-color: transparent;
}

.inputDivision, .outputDivision, .executionDivision {
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #464646;
}

.inputDivision, .outputDivision, .executionDivision {
    top: 11%;
    height: 87%; 
}

.executionDivision {
    left: 25%;
    width: 30%;
}

.inputDivision {
    left: 3%;
    width: 19%;
}

.outputDivision {
    left: 58%;
    width: 39%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    text-align: center;
    top: 0%;
    color: #2a65a0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F8F8F8;
    height: 9%;
}

.initializePic, .executionPic, .outputPic {
	margin-left: 10%;
	float: left;
	height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.initializePic {
	margin-top: 1.5vh;
	width: 20%;
	background-image: url('initIcon.png');
}

.initializeText {
	width: 60%;
	float: left;
	height: 100%;
}

.executionPic {
	margin-top: 1vh;
	width: 25%;
	background-image: url('pageIcon.png');
}

.executionText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
}

.outputPic {
	margin-top: 1.6vh;
	width: 25%;
	background-image: url('outputIcon.png');
}

.outputText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
}

.inputDivisionBody {
	position: absolute;
	top: 9%;
	left: 0%;
	width: 100%;
	height: 91%;
	text-align: center;
	font-size: 1em;
	border-top: 1px solid #CCC;
}

.instructionText {
    float: left;
    text-align: left;
    width: 95%;
    min-width: 70px;
    margin-left: 5%;
    margin-top: 20px; 
}

.workingDayImage, .relaxDayImage {
    position: absolute;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position:center;
    cursor: pointer;
    opacity: .2;
}

.workingDayImage {
    left: 0%;
    top: 0%;
    background-image: url('working.jpg');
}

.relaxDayImage {
    left: 50%;
    top: 0%;
    background-image: url('relaxing.jpg');
}

.margin15 {
    margin-top: 15px;
    margin-left: 5px;
}

.radioButtonHolder {	
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: left;
}

.radiobutton {
    cursor: pointer;
	margin-left: 7%;
	float: left;
}

.radioText {
 	float: left;
	text-align: left;
}

.resultDisplay {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 90%;
    border-top: 1px solid #CCC;
}

.imageBlock {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 46%;
}

.stepExecutionDisplay {
    padding-top: 2%;
    padding-left: 2%;
    overflow-x: auto;
    position: absolute;
    top: 9%;
    left: 0%;
    width: 97.8%;
    height: 88%;
    text-align: left;
    border-top: 1px solid #CCC;
}

.hide {
	display: none;
}

.show {
    display: block;
}

.marginTop{
    margin-top: 20px;
}

.textField{
    text-align: center;
    font-size: 15px;
    float: left;
    margin-left: 5px;
    height: 26px;
    width: 30%;
    min-width: 60px;
    border: 1px solid #CCC;
    outline: none;
    border-radius: 3px;
}

.dText{
    float: left;
    width: 45px;
    height: 20px;
    margin-top: 5px;
    margin-left: 17%;
}

.DayInputText{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 27px;
}

.localVariables{
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0%;
    top: 60%; 
}

.dayIconDivision{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0%;
    top: 50%;
    border-bottom: 1px solid #CCC;  
}

.dayIcon {
    width: 14.2%;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position:center;
    opacity: .3;
}

#mondayImages{ background-image: url('monday.png'); }
#tuesdayImages{ background-image: url('tuesday.png'); }
#wednesdayImages{ background-image: url('wednesday.png'); }
#thursdayImages{ background-image: url('thursday.png'); }
#fridayImages{ background-image: url('friday.png'); }
#saturdayImages{ background-image: url('saturday.png'); }
#sundayImages{ background-image: url('sunday.png'); }

.localVariabals{
    position: absolute;
    width: 100%;
    height: 35%;
    left: 0;
    top: 65%;
}

.localVariableText{
    float: left;
    font-size: 1.2em;
    width: 20%;
    height: 20%;
    text-align: right;
}

.localVariableValue{
    float: left;
    font-size: 1.2em;
    width: 75%;
    margin-left: 5%;
    height: 20%;
    text-align: left;
}

.redClass {
  display: block;
  color: red;
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.3em;
}

.initializeText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.radioButtonHolder {    
    height: 24px;
    font-size: 1em;
} 

.radiobutton {
    width: 10%;
    height: 60%;
}

.instructionText {
    height: 7%;
    font-size: 2.5vh;
}

.radioText {
    font-size: 16px;
    width: 70%;
    height: 60%;
}

}

@media only screen and (max-width: 999px) and ( min-width: 600px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.2em;
}

.stepExecutionDisplay {
    line-height: 140%;
    font-size: 1.2em;
}

.initializeText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.radioButtonHolder {    
    height: 40px;
    font-size: 1.2em;
} 

.radiobutton {
    width: 25%;
    height: 55%;
}

.instructionText {
    height: 8%;
    font-size: 20px;
}

.radioText {
    font-size: 1.2em;
    width: 60%;
    height: 60%;
   
}

}