*{padding: 0 ; margin: 0 ;}

body {
	min-height: 564px;
	min-width: 1100px;
    text-align: center;
    height: 100%;
    font-size: 100%;
    position:absolute; top:0%; bottom:0%; right:0%; left:0%;
}

#header {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    width: 100%;
    height: 6%;
    font-size: 4vh;
    padding-top: 1.3vmin;
}


#icon{
position:fixed;
   right:100px;
   top:15px;

}
.button, .buttonDisable {
    position: relative;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.2em; 
    overflow: visible;
    outline: none;
    white-space: nowrap;
    -moz-background-clip: padding; 
    background-clip: padding-box;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-align: center;
    zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
  }

#header, .button {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonDisable {
    text-shadow: 1px 1px 0 #fff;
    color: #999999;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.buttonDisable, .button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.vlabsIcon {
    position: absolute;
    top: 1.2%;
    left: 8%;
    width: 15vh;
    height:6.7vh;
    background-image:url('iiitLogo.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.inputDivision, .outputDivision, .executionDivision {
    color: #464646;
    top:11%;
    height:87%; 
    position: absolute;
    border:1px solid #CCC;
    border-radius: 5px;
}

.executionDivision {
    left: 22%;
    width:36%;
}

.inputDivision {
    left: 2%;
    width:18%;
}

.outputDivision {
    left:60%;
    width:38%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    text-align: center;
    top: 0%;
    height: 9%;
    color: #2a65a0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F8F8F8;
}

.experimentPic {
	margin-top:1.4vh;
	margin-left: 10%;
	width: 20%;
	float: left;
	height: 100%;
	background-image:url('initIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.experimentText {
	width: 60%;
	float: left;
	height: 100%;
}

.executionPic {
	margin-top:1vh;
	margin-left: 10%;
	width: 25%;
	float: left;
	height: 100%;
	background-image:url('pageIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.executionText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%; 
}

.outputPic {
	margin-top:1.6vh;
	margin-left: 10%;
	width: 25%;
	float: left;
	height: 100%;
	background-image:url('outputIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.outputText {
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
}

.inputBody {
    position: absolute;
    top: 9%;
    left:0%;
    width:100%;
    height:91%;
    text-align: center;
    font-size: 1em;
    border-top: 1px solid #CCC;
}

.enterMatrixSizeText {
    float: left;
    width: 100%;
    min-width: 70px;
    min-height: 30px;
    margin-top:15px; 
}

.arraySizeDivision {
    margin-top: 10px;
    float:left;
    margin-left:10%;
    width: 80%;
    height:8%;
    min-height: 40px; 
}

.inputField1, .inputField2 {
    text-align: center;
    font-size: 15px;
    float:left;
    height:30px;
    min-width:50px;
    border:1px solid #CCC;
    outline: none;
    border-radius: 3px;
}

.startButton {
    float: left;
    margin-top: 15px;
    margin-left: 10%;
	font-size:13px;
	min-width: 144px;
    height:30px;
    width:80%;
}

.GenerateValueButton {
    float: left;
    margin-top: 15px;
    margin-left: 10%;
    font-size:13px;
    min-width: 144px;
    height:30px;
    width:80%;
}

.myStartButton {
    height: 30px;
    width: 37%;
    float: center;
    font-size:14px;
}

.nextButton {
    margin-left:14px; 
    height: 30px;
    width: 37%;
    float: center;
    font-size:14px;
}

.buttonHolder {
    width: 100%;
    float: left;
    margin-top: 25px;
    height:6%;
}

.multiplicationLable {
    float: left;
    line-height: 200%;
   width:20%;
   min-width: 30px;
   height:30px;
   font-size: 15px;
}

.resultDisplay {
    position: absolute;
    top:9%;
    left:0%;
    width:100%;
    height:90%;
    text-align: center;
    font-size: 1em;
    font-size: 3vmin;
    border-top:1px solid #CCC;
}

.titleMatrixA {
    position:absolute;
    left:0%;
    top:0%;
    width:50%;
    height:5%;
}

.titleMatrixB {
    position:absolute;
    left:50%;
    top:0%;
    width:50%;
    height:5%;
}

.hrLine {
    position: absolute;
    top: 38%;
    left: 0%;
    width: 100%;
    height:1%;
    border-top: 1px solid #CCC;
}

.titleResultantMatrix {
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0%;
    top: 39%;
}


.stepExecutionDisplay {
    padding-top: 2%;
    padding-left: 2%;
    overflow-x:auto;
    position: absolute;
    top: 9%;
    left:0%;
    width:97.8%;
    height:88%;
    text-align: left;
    border-top:1px solid #CCC;
}

.hide {
    display: none; 
}

.show {
    display: block;
}

.matrixA, .matrixB {
    position: absolute;
    top: 5%;
    width: 49%;
    height: 33%;
    overflow: auto;
}

.matrixA {
    left: 0%;
}

.matrixB {
    left: 51%;
}

.resultantMatrix {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 55%;
    top: 45%;
    overflow: auto;
}

.showDivInRed {
    color: red;
}

.matrixCell {
    width: 20%;
    height: 20%;
    border: 1px solid #ccc;
    min-height: 25px;
    min-width: 25px;
}

.resultMatrixCell {
    border: 1px solid #ccc;
    min-height: 25px;
    min-width: 30px;
}

.table {
    height: 100%;
    width: 100%;
}

.blueCell {
    background: #599bdc;
}

.yellowCell {
    background: #F5B941;
}

@media only screen and (min-width: 1000px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.4em;
}

.experimentText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.inputField1 {
    width: 38.8%;
}

.inputField2 {
    width: 38.8%;
}

.enterMatrixSizeText {
    height: 7%;
    font-size: 2.5vh;
}

}

@media only screen and (max-width: 999px) and ( min-width: 600px) {

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle {
    font-size: 1.2em;
}

.multiplicationLable {
    display: none;
}

.inputField1 {
    width: 42%;
}

.inputField2 {
    margin-left: 20px;
    width: 42%;
}

.stepExecutionDisplay {
    line-height: 140%;
    font-size: 1.2em;
}

.experimentText, .executionText, .outputText {
    padding-top: 1.8vmin; 
}

.enterMatrixSizeText {
    height: 7%;
    font-size: 1.1em;
}

.buttonHolder {
    margin-top: 35px;
}

}
